<router-outlet />
<h1>{{message}}</h1>

<!-- DIRECTIVAS -->
<!-- de Atributos -->
<div [ngStyle]="{color: condition ? 'blue' : 'red'}" (click)="changeCondition()">
  ngStyle
</div>

<div [ngClass]="condition ? 'green' : 'red'" (click)="changeCondition()">
  ngClass
</div>

<!-- Estructurales -->
<div *ngIf="condition">ngIf</div>

<!-- <div *ngFor="let item of items">{{item}}</div> -->

<ul>
  <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFn">
    <li *ngIf="condition">{{item.name + i}}</li>
  </ng-container>
</ul>


<!-- Templates -->
<ng-container>Container</ng-container>

<ng-template #template>
  Esto es un template
</ng-template>

<!-- NgIf por Angular -->
<ng-template #ngIfAngular [ngIf]="condition">
  <div>Me renderice</div>
</ng-template>

<!-- NgFor por Angular -->
<!-- <ng-template #ngForAngular ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="i">
  <div>{{item}}</div>
</ng-template> -->
<hr>
<div class="appComponent">
  <p>App Component</p>
  {{data}}
  <br>
  <button (click)="addData()">set value data</button>
</div>

<app-users></app-users>
